<H1>Todo</H1>

<div class="container">
  <form #todoForm="ngForm">
    <fieldset class="form-group">
      <label>Description</label>
      <input
        type="text"
        class="form-control"
        name="description"
        [(ngModel)]="description"
      />
    </fieldset>

    <fieldset class="form-group">
      <label>status</label>
      <select class="form-control" name="status" [(ngModel)]="status">
        <option [value]="true">true</option>
        <option [value]="false">false</option>
      </select>
    </fieldset>

    <fieldset class="form-group">
      <label>Estimaterd completion Date</label>
      <input
        type="date"
        class="form-control"
        name="completionDate"
        [(ngModel)]="estimatedCompletionDate"
      />
    </fieldset>

    <button type="submit" class="btn btn-success" (click)="saveTodo()">
      Save
    </button>

    <div class="'container">
      <div class="alert alert-warning" style="margin-top: 10px"></div>
    </div>
  </form>
</div>
